body{
  background-image: url("https://images.unsplash.com/photo-1665141530020-6df603c446c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80");
  color: #32373c;
 height: 50vh;
  background-position: center;
  
}

#pPhoto {
  display: flex;
  justify-content: center;
  margin-top: 70px;
max-height: 490px;}

h2{
font-size:  20px;

}
h1{
  font-size:  40px;

}

#ph{
  height: 300px;
  padding: 40px;
  padding-top: 2.6cm;
  padding-bottom: 2.4cm;
  background-color: rgba(9, 161, 238, 0.548);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;  
  box-shadow: 1px 1px 10px 17px rgba(228, 226, 226, 0.24);

}
p{
  font-size:  20px;
}
#container{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;

    box-shadow: 1px 1px 10px 17px rgba(228, 226, 226, 0.24);
    background-color: rgba(255, 255, 255, 0.747);


}
img{
  height: 30px;

}
#HEY{
display: flex;
justify-content: space-around;

}